@model IEnumerable<Core.Models.AircraftState>
@{
    ViewData["Title"] = "Index";
}

@ViewData["message"]

<h2>Flights Controller</h2>

<div class="row">
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Mode S Code</th>
                <th>Callsign</th>
                <th>Velocity</th>
                <th>Arrival Time</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>CX303</td>
                <td>Cathay Pacific</td>
                <td>13/05/2018</td>
                <td>14/05/2018</td>
            </tr>
            <tr>
                <td>CX303</td>
                <td>Cathay Pacific</td>
                <td>13/05/2018</td>
                <td>14/05/2018</td>
            </tr>
            <tr>
                <td>CX303</td>
                <td>Cathay Pacific</td>
                <td>13/05/2018</td>
                <td>14/05/2018</td>
            </tr>
        </tbody>
    </table>

    <button id="opensky" class="btn" btn-primary>Click OpenSky</button>
</div>